* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto Condensed', sans-serif;
}
body {
  background: #f8f1f1;
  /*padding: 0 16px;*/
  background-color:#f8f1f1;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr 3rem;
  height: 100%;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  grid-area: header;
  margin: auto -16px;
  padding: 1px 32px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.navbar-nav{
  float: right;
}

.navbar-light .navbar-brand {
  color:#e97878;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 800;
  font-size: 2em;
  margin-right: 20rem;
}

.desktop-query {
  width: 465px;
  float: right;
  line-height: 0;
  margin: 1rem auto;
  position: relative;
}

.desktop-query>input.desktop-searchBar {
  display: inline-block;
  font-size: 14px;
  height: 20px;
  line-height: 24px;
  width: 50%;
  color: #696e79;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 8px 10px 10px;
  margin: 0;
  outline: 0;
  border: 1px solid #f5f5f6;
  border-radius: 0 4px 4px 0;
  border-left: 0;
  background: #f5f5f6;
}

a.desktop-submit {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  height: 28px;
  width: 40px;
  text-align: center;
  padding: 8px 0 2px;
  background: #f5f5f6;
  border: 1px solid #f5f5f6;
  border-right: none;
  border-radius: 4px 0 0 4px;
  position: absolute;
  left: -41px;
}

.main{
  grid-area: main;
  padding: 1rem;
}

.carditem {
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  width: 15rem;
  height: 21rem;
  float: left;
  margin: 30px;
  margin-bottom: 10px;
}

.carditem img{
  width: 15rem;
  height: 15rem;
  align-items: center;
  margin-bottom: 10px;
}

.carditem h6{
  margin-bottom: 3px;
}

.carditem p{
  margin-bottom: 3px;
}

.details{
  padding-left: 10px;
}

.price{
  font-weight: bold;
  margin-bottom: 10px;
}

footer {
  grid-area: footer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p{
  margin: 0px;  
}

